/OOP Lab/ArrayListLab/target/
/OOP Lab/OOP Project/TicketPractice/nbproject/private/
/OOP Lab/OOP Project/TicketPractice/build/
/OOP Lab/OOP Project/JavaPracticeScreen/nbproject/private/
/OOP Lab/OOP Project/JavaPracticeScreen/build/
/OOP Lab/OOP Project/TicketBookingSystem/nbproject/private/
/OOP Lab/OOP Project/TicketBookingSystem/build/
/OOP Lab/OOP Project/FA22-BCS-073, 087, 094 OOP Lab Project/TicketBookingSystem/build/
/OOP Lab/OOP Project/FA22-BCS-073, 087, 094 OOP Lab Project/TicketBookingSystem/nbproject/private/
/OOP Lab/OOP Project/Ticket Booking System (Final) Project/TicketBookingSystem/build/
/OOP Lab/OOP Project/Ticket Booking System (Final) Project/TicketBookingSystem/nbproject/private/
