/OOP Lab/ArrayListLab/target/
/OOP Lab/OOP Project/TicketPractice/nbproject/private/
/OOP Lab/OOP Project/TicketPractice/build/
/OOP Lab/OOP Project/JavaPracticeScreen/nbproject/private/
/OOP Lab/OOP Project/JavaPracticeScreen/build/
/OOP Lab/OOP Project/TicketBookingSystem/nbproject/private/
/OOP Lab/OOP Project/TicketBookingSystem/build/
